@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .container-menu {
    display: block;
    width: 100%;
  }

  .form {
    max-width: 392px;
    margin: 0;
    padding: 0;
  }

  .team-title {
    font-weight: 700;
  }
  .team-person {
    max-width: 100%;
  }

  .features-title {
    color: rgba(46, 47, 66, 1);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 8px;
  }

  .customer-block {
    padding-top: 96px;
    padding-bottom: 96px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--primary-bg-color);
  }

  .features-block {
    margin-bottom: 0;
  }
  .team {
    padding-top: 96px;
    padding-bottom: 0;
    background-color: rgba(244, 244, 253, 1);
  }
}

@media screen and (max-width: 767px) {
  .hero-page {
    padding: 112px 39px;
    margin-bottom: 0;
  }

  .modal {
    max-width: 392px;
  }
  .header-section {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
  }

  .team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .container-team {
    padding-bottom: 96px;
  }
  .team-image {
    width: 100%;
  }
  .personal-links {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    gap: unset;
  }

  .customer-block {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customer-list {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
  }

  .brand-link {
    width: 190px;
  }
  .brand-list {
    flex-basis: calc((100% - 16px) / 2);
  }

  .features {
    display: flex;
    flex-direction: column;
    gap: 72px;
    width: 100%;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-block {
    width: 100%;
    display: block;

    margin-bottom: 0;
  }
  .features-title {
    color: rgba(46, 47, 66, 1);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 8px;
  }

  .footer {
    display: block;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .form-footer {
    display: block;
    margin-left: 0;
  }

  .footer-logo {
    width: 100%;
    margin-bottom: 72px;
  }
  .footer-text {
    width: 100%;
    text-align: left;
  }

  .social-links {
    margin-left: 0;
    margin-bottom: 72px;
  }

  .label {
    display: block;
    width: 100%;
  }
  .input-info {
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    margin-top: 16px;
    width: 100%;
  }
  .form-field {
    display: block;
    text-align: center;
  }
  .form-footer {
    max-width: 100%;
    margin-right: 0 auto;
  }
  .subscribe-btn {
    margin: 0 auto;
    max-width: 100%;
  }
  /* BURGER  */

  .burger:hover {
    fill: var(--accent-color-hover);
  }
  .burger-btn .icon-cross {
    display: none;
  }
  .burger-btn.is-open .icon-cross {
    display: block;
  }
  .burger-btn.is-open .icon-menu {
    display: none;
  }

  .container-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px 24px 35px 40px;
    height: 100vh;
    background-color: var(--primary-bg-color);
    z-index: 1;
    overflow: scroll;
  }

  .container-menu.is-open {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .container-menu.is-open .navbar {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-left: 0;
    margin-bottom: 264px;
  }
  .container-menu.is-open .address {
    display: flex;
    flex-direction: column;
  }
  .container-menu.is-open .address-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 40px;
    margin-bottom: 48px;
  }

  .buttons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 48px 15px 48px 15px;
    margin-bottom: 0;
  }
  .portfolio-block {
    display: flex;
    row-gap: 48px;
    justify-content: center;
  }

  .portfolio_thumb {
    width: 396px;
  }
  .container-menu.is-open .navbar-link {
    font-size: 36px;
    font-weight: 700;
  }

  .container-menu.is-open .contacts-tel {
    font-size: 36px;
    font-weight: 700;
    width: v;
  }
  .container-menu.is-open .mobil-menu-link {
    margin-right: 36px;
  }
  .container-menu.is-open .personal-links {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
  }
  .close-mobile-menu {
    display: block;
    margin-left: auto;
    padding: 8px;
    margin-bottom: 32px;

    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(231, 233, 252, 1);
    cursor: pointer;
    transition: 0.25s linear;
  }
  .current::after {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .modal {
    max-width: 316px;
    height: 620px;
  }
  .container-menu.is-open .contacts-tel {
    font-size: 26px;
    font-weight: 700;
    align-items: center;
  }
  .input-info {
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    margin-top: 16px;
  width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
  .work-section {
    display: none;
  }
  .features-list::before {
    display: none;
  }
  .team {
    display: flex;
    justify-content: center;
    padding-top: 96px;
    padding-bottom: 0;
    background-color: rgba(244, 244, 253, 1);
  }
}

.hero-page {
  color: var(--secodary-text-color);
  max-width: 1440px;
  text-align: center;
  content: "";

  background-color: var(--primery-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/images/mobile/bg/ofice-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-title {
  font-size: 36px;
  margin-bottom: 72px;
}

@media screen and (min-device--pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/images/mobile/bg/hero-bg-mobile@2x.jpg);
  }
}
